<h1>Contacts</h1>

<% if @contacts.empty? %>
  <h2> You have no friends </h2>
<% else %>
  <%= @contacts.each_with_index do |single, index| %>
    <h2><%= single.name %></h2>
    <span> | </span>
    <h2><%= single.birthday %></h2>
    <span> | </span>
    <h2><%= single.right_handed %></h2>
    <span> | </span>
    <h2><%= single.eye_color %></h2>
    <span> | </span>
    <h2><%= single.email %></h2>
    <span> | </span>
    <%= link_to single.name, contact_path(single) %>
  <% end %>
<% end %>