<h1>Contacts</h1>

<% if @contacts.empty? %>
  <h2> You have no friends </h2>
<% else %>
  <% @contacts.each do |single| %>
    <h2><%= single.name %></h2>

    <%= link_to  "Show Contact", contact_path(single) %>
    <span> | <span>
    <%= link_to  "Edit Contact", edit_contact_path(single) %>
    <span> | <span>
    <%= link_to  "Delete Contact", single, method: :delete %>
  <% end %>
<% end %>

<h1><span></span></h1>
<%= link_to  "Add Contact", new_contact_path %>